<!-- add device card -->

<div class="card">
	<p class="card-update-time">Add new device</p>
	<h3>Add New Device</h3>
	<div class="card-content">

		<form class="form-inline">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="name your device">
			</div>
			<button type="button" class="btn btn-success">Register</button>
		</form>
	</div>
</div>

<!-- remove device card -->
<div class="card">
	<p class="card-update-time">Remove an existing device</p>
	<h3>Remove Device</h3>
	<div class="card-content">

		<form class="form-inline">
			<div class="form-group">
				<select class="form-control" id="sel1">
					<option>1</option>
				</select>
			</div>
			<button type="button" class="btn btn-danger">Remove</button>
		</form>
	</div>
</div>
