<!-- filter out input pane -->

<div class="row">
	<div class="col-md-9">
		<div class="card card-blue">
			<p class="card-update-time">Filter your content...</p>
			<div class="card-content">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Start typing...">
					</textarea>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<!-- add new task -->
		<div class="card card-red">
			<p class="card-update-time">Add your custom task now.</p>
			<h3><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Task</h3>
		</div>
	</div>
</div>

<!-- ac -->
<div class="card card-red">
	<p class="card-update-time">Manage your AC</p>
	<div class="card-content">
		<table class="table">
			<thead>
				<tr>
					<th>Pin</th>
					<th>Main Devices</th>
					<th>Choice</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="device in data.devices.heavyDevice_list">
					<td>
						<p>{{door.pin}}</p>
					</td>
					<td>
						<p>{{device.name}}<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></p>
					</td>
					<td>
						<div class="toggle">
							<input type="checkbox" name="toggle" class="toggle-checkbox" id="{{device.id}}" checked="{{device.state}}">
							<label class="toggle-label" for="{{device.id}}"></label>
						</div>
					</td>
					<td>
						<p>{{device.comments}}<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- Doors -->
<div class="card card-blue">
	<p class="card-update-time">Manage your Lights</p>
	<div class="card-content">
		<table class="table">
			<thead>
				<tr>
					<th>Light</th>
					<th>Choice</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="light in data.devices.lights_list">
					<td>
						<p>{{light.name}}<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></p>
					</td>
					<td>
						<div class="toggle">
							<input type="checkbox" name="toggle" class="toggle-checkbox" id="{{light.id}}" checked="{{light.state}}">
							<label class="toggle-label" for="{{light.id}}"></label>
						</div>
					</td>
					<td>
						<p>{{light.comments}}<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<!-- fan -->
<div class="card">
	<p class="card-update-time">Fans : let some air flows down in your mind</p>
	<div class="card-content">
		<table class="table">
			<thead>
				<tr>
					<th>Fans</th>
					<th>Choice</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="fan in data.devices.fans_list">
					<td>
						<p>{{fan.name}}<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></p>
					</td>
					<td>
						<div class="toggle">
							<input type="checkbox" name="toggle" class="toggle-checkbox" id="{{fan.id}}" checked="{{fan.state}}">
							<label class="toggle-label" for="{{fan.id}}"></label>
						</div>
					</td>
					<td>
						<p>{{fan.comments}}<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
