<footer class="footer">
	<div class="container">
		<ul class="list-inline pull-left text-muted">
			<li>Help</li>
			<li>Blog</li>
			<li>About Us</li>
			<li>HomeWork</li>
		</ul>
		<p class="text-muted pull-right">Copyright 2016 | <strong>HomeWork</strong></p>
	</div>
</footer>
