<head>
	<meta charset="UTF-8">
	<title>
		<%=title%>
	</title>

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/common.css">


	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:400,700,900' rel='stylesheet' type='text/css'>

	<style>
	/* === toggle switch === */
	
	body,
	html {
		background-color: #FFF;
	}
	
	.onoffswitch {
		position: relative;
		width: 55px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	
	.onoffswitch-checkbox {
		display: none;
	}
	
	.onoffswitch-label {
		display: block;
		overflow: hidden;
		cursor: pointer;
		height: 20px;
		padding: 0;
		line-height: 20px;
		border: 0px solid #FFFFFF;
		border-radius: 30px;
		background-color: #9E9E9E;
		transition: all 0.3s ease-in;
	}
	
	.onoffswitch-label:before {
		content: "";
		display: block;
		width: 30px;
		margin: -5px;
		background: #FFFFFF;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 31px;
		border-radius: 30px;
		box-shadow: 6px 5px 20px 0px #757575;
		transition: all 0.3s ease-in;
	}
	
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
		margin-left: 0;
	}
	
	.onoffswitch-checkbox:checked + .onoffswitch-label:before {
		right: 0px;
		box-shadow: -6px 5px 12px 0px #757575;
	}
	/* if you guys improved this, please fork it and make a pull request. */
	/* ====================== onoffswitch-checkbox-pink class ================= */
	
	.onoffswitch-checkbox-red:checked + .onoffswitch-label-red {
		background-color: #EBDBDB;
		/* on -> background color */
	}
	
	.onoffswitch-checkbox-red:checked + .onoffswitch-label-red,
	.onoffswitch-checkbox-red:checked + .onoffswitch-label-red:before {
		border-color: #EBDBDB;
		/* /* on -> should be same as background color */
	}
	
	.onoffswitch-checkbox-red:checked + .onoffswitch-label-red:before {
		background-color: #D9534F;
		/* on -> button color */
	}
	/* ===================== onoffswitch-checkbox-green class ===============*/
	
	.onoffswitch-checkbox-green:checked + .onoffswitch-label-green {
		background-color: #A7D1A7;
		/* on -> background color */
	}
	
	.onoffswitch-checkbox-green:checked + .onoffswitch-label-green,
	.onoffswitch-checkbox-green:checked + .onoffswitch-label-green:before {
		border-color: #A7D1A7;
		/* /* on -> should be same as background color */
	}
	
	.onoffswitch-checkbox-green:checked + .onoffswitch-label-green:before {
		background-color: #5CB85C;
		/* on -> button color */
	}
	/* ======circle=============== */
	
	.circle {
		margin-top: 5px;
		width: 15px;
		height: 15px;
		box-shadow: -1px 2px 8px #A2A2A2;
		-moz-box-shadow: -1px 2px 8px #A2A2A2;
		-webkit-box-shadow: -1px 2px 8px #A2A2A2;
		-o-box-shadow: -1px 2px 8px #A2A2A2;
		border-radius: 100px;
	}
	
	.greenCircle {
		background-color: #449D44;
	}

	.redCircle{
		background-color: #D9534F;
	}
	
	.whiteCircle {
		background-color: #FFF;
	}
	/*=====*/
	</style>


</head>
