<!-- 

for overview pane in console.js
===============================

this file contains filterbox and color-cards for overview tab pane 

 -->

<!-- filter out with AngularJS-->
<div class="input-group" style="width: 70%;">
	<input type="text" autofocus class="form-control" placeholder="Filter out...">
	<span class="input-group-btn"><button class="btn btn-success" type="button">
											<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
	</button>
	</span>
</div>

<br>

<!-- overview contents starts here -->
<div class="row">
	<!-- content of the tab is inside this row -->
	<!-- col-1 -->
	<div class="col-md-6">

		<!-- composit cards for temp.inside and temp.outside -->
		<div class="row">

			<!-- card 1-->
			<div class="col-md-6">

				<!-- temp.inside card -->
				<div class="card card-green">
					<p class="card-update-time">Showing temperature inside</p>

					<div class="card-content">
						<h3>Inside</h3>
						<div class="card-content">
							<div class="card-center">
								<p class="in-temp">
									<sub>34</sub><sup class="in-degC">&#8451;</sup>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- END of temp.inside card -->

			</div>

			<!-- card 2 -->
			<div class="col-md-6">

				<!-- card of temp.outside -->
				<div class="card card-green">
					<p class="card-update-time">Showing temperature outside</p>

					<div class="card-content">
						<h3>Outside</h3>
						<div class="card-content">
							<div class="card-center">
								<p class="in-temp">
									<sub>38</sub><sup class="in-degC">&#8451;</sup>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- water level -->
		<!-- card-blue -->
		<div class="card card-blue">
			<p class="card-update-time">Updated 1 min ago</p>

			<div class="row">
				<div class="col-md-6">
					<h3>Water level</h3>
					<div id="chart_div3" class="overview-card-charts">Loading...</div>
				</div>
				<div class="col-md-6">
					<p style="font-size: 35px;">23 hours left</p>
					<p>statistics based on your average usage.</p>
				</div>
			</div>
			<div class="card-bottom">
				<p>Windows are open.</p>
				<button type="button" class="btn btn-default">Manage</button>
			</div>
		</div>

		<!-- water level -->
		<!-- card-blue -->
		<div class="card card-red">
			<p class="card-update-time">Status of main devices.</p>

			<div class="row">
				<div class="col-md-4">
					<h3>A/c</h3>
				</div>
				<div class="col-md-4">
					<h3>Washing Machine</h3>


				</div>
				<div class="col-md-4">
					<h3>Refrigerator</h3>

				</div>
			</div>
			<div class="card-bottom">
				<p>Windows are open.</p>
				<button type="button" class="btn btn-default">Manage</button>
			</div>
		</div>

	</div>
	<div class="col-md-6">

		<!-- doors closed -->
		<div class="card card-red">
			<p class="card-update-time">Status of doors and windows</p>
			<div class="row">
				<div class="col-md-6">
					<h3>Doors closed</h3>
					<div class="card-content">
						<p style="font-size: 40px;">2 <span style="color:#FFA0C1">/3</span></p>
						<p>Normal temerature inside.</p>
						<p>A/c is off.</p>
					</div>
				</div>
				<div class="col-md-6">
					<h3>Windows closed</h3>
					<div class="card-content">
						<!-- graph -->
						<div id="chart_div4" class="overview-card-charts">Loading...</div>
					</div>
				</div>
			</div>
			<div class="card-bottom">
				<p>Windows are open.</p>
				<button type="button" class="btn btn-default">Manage</button>
			</div>
		</div>

		<div class="row">
			<!-- possibility of rain -->
			<div class="col-md-6">
				<div class="card">
					<p class="card-update-time">Data from weather.com</p>
					<h3>No rain today</h3>
					<div class="card-content">
						<p class="temp" style="display:inline-block;">
							<span class="card-highlight"><sub>30</sub><sup class="degC">%</sup></span>
						</p>
						<p style="display:inline-block;"> chance of rain</p>
					</div>
				</div>
				<!-- inverter status -->
				<div class="card card-green">
					<p class="card-update-time">Inverter Status</p>
					<h3>Inverter</h3>
					<div class="card-content">
						<p class="temp" style="display:inline-block;">
							<span class="card-highlight"><sub>100</sub><sup class="degC">%</sup></span>
						</p>
						<p style="text-align: center;">Charging</p>
					</div>
				</div>

				<!-- inverter status -->
				<div class="card card-blue">
					<p class="card-update-time"></p>
					<h3>Inverter</h3>
					<div class="card-content">
						<div class="form-group">
							<textarea class="form-control" placeholder="Start typing..." rows="3"></textarea>
						</div>
					</div>
				</div>
			</div>

			<!-- connected devices -->
			<div class="col-md-6">
				<div class="card card-yellow">
					<p class="card-update-time">Only showing the status of connected devices.</p>
					<h3>Devices ON</h3>
					<div class="card-content">
						<!-- graph -->
						<div id="chart_div5" class="overview-card-charts">Loading...</div>
						<p>The less the usage, the more you save.</p>
					</div>
					<div class="card-bottom">
						<p>Normal usage</p>
						<button type="button" class="btn btn-default">Manage</button>
					</div>
				</div>

				<!-- feedback -->
				<div class="card">
					<p class="card-update-time">Tell us what's in your mind...</p>
					<h3>Feedback</h3>
					<div class="card-content">
						<div class="form-group">
							<textarea class="form-control" placeholder="Start typing..." rows="3"></textarea>
						</div>
					</div>
					<div class="card-bottom">
						<p>We value your words</p>
						<button type="button" class="btn btn-info">Send</button>
					</div>
				</div>
			</div>
		</div>


		<!-- weather -->
		<div class="weatherDotCom">
			<p class="update-time">Weather updated 30 min ago</p>
			<div class="row">
				<div class="col-md-6">
					<p class="temp">
						<sub>34</sub><sup class="degC">&#8451;</sup>
					</p>
					<p class="feels">Feels like 35&deg;</p>
					<hr>
					<p class="w-key">Wind <span class="w-value">Calm, 5km/h W</span> </p>
					<p class="w-key">UV index <span class="w-value">Low, 0</span> </p>
					<p class="w-key">Pressure <span class="w-value">1011 mBar</span> </p>
				</div>

				<div class="col-md-6">
					<p class="w-location">Karunagapplly</p>
					<p class="w-date">6 April Monday </p>
					<img src="/images/weather/partly-cloudy.png" alt="weather" class="w-img">
					<p class="logicalText">Partly Cloudy</p>
					<p class="w-key">Sunrise <span class="w-value">6:15 AM</span> </p>
					<p class="w-key">Sunset <span class="w-value">6:33 PM</span> </p>

				</div>
			</div>

		</div>
		<!-- possibility of rain -->
		<div class="weatherDotCom">
			<p class="update-time">Weather updated 30 min ago</p>
			<p class="temp">
				<sub>90</sub><sup class="degC">%</sup> <span class="chance">chance of rain</span>
			</p>
		</div>

		<!-- card-design -->
		<div class="card">
			<p class="card-update-time">Weather updated 30 min ago</p>
			<h3>Heading</h3>
			<div class="card-content">
				<p class="temp">
					<span class="card-highlight">
												<sub>90</sub><sup class="degC">%</sup>
											</span>
					<span class="chance">chance of rain</span>
				</p>
			</div>
			<div class="card-bottom">
				<p>Windows are open.</p>
				<button type="button" class="btn btn-default">Manage</button>
			</div>
		</div>
		<!-- card-blue -->
		<div class="card card-blue">
			<p class="card-update-time">Weather updated 30 min ago</p>
			<h3>Heading</h3>
			<div class="card-content">
				<p class="temp">
					<span class="card-highlight">
												<sub>90</sub><sup class="degC">%</sup>
											</span>
					<span class="chance">chance of rain</span>
				</p>
			</div>
			<div class="card-bottom">
				<p>Windows are open.</p>
				<button type="button" class="btn btn-default">Manage</button>
			</div>
		</div>

		<!-- card-green -->
		<div class="card card-green">
			<p class="card-update-time">Weather updated 30 min ago</p>
			<div class="row">
				<div class="col-md-6">
					<h3>Doors closed</h3>
					<div class="card-content">
						<!-- graph -->
						<div id="chart_div" class="overview-card-charts">Loading...</div>
					</div>
				</div>
				<div class="col-md-6">
					<h3>Windows closed</h3>
					<div class="card-content">
						<!-- graph -->
						<div id="chart_div2" class="overview-card-charts">Loading...</div>
					</div>
				</div>
			</div>
			<div class="card-bottom">
				<p>Windows are open.</p>
				<button type="button" class="btn btn-default">Manage</button>
			</div>
		</div>

		<!-- yellow-card -->
		<div class="card card-yellow">
			<p class="card-update-time">Weather updated 30 min ago</p>
			<h3>Heading</h3>
			<div class="card-content">
				<p class="temp">
					<span class="card-highlight">
												<sub>90</sub><sup class="degC">%</sup>
											</span>
					<span class="chance">chance of rain</span>
				</p>
			</div>
			<div class="card-bottom">
				<p>Windows are open.</p>
				<button type="button" class="btn btn-default">Manage</button>
			</div>
		</div>

		<!-- red-card -->
		<div class="card card-red">
			<p class="card-update-time">Weather updated 30 min ago</p>
			<h3>Heading</h3>
			<div class="card-content">
				<p class="temp">
					<span class="card-highlight">
												<sub>90</sub><sup class="degC">%</sup>
											</span>
					<span class="chance">chance of rain</span>
				</p>
			</div>
			<div class="card-bottom">
				<p>Windows are open.</p>
				<button type="button" class="btn btn-default">Manage</button>
			</div>
		</div>

		<!-- card-green WEATHER-->
		<div class="card card-green">
			<p class="card-update-time">Card is upto date</p>
			<div class="row">
				<div class="col-md-6">
					<h3>Inside</h3>
					<div class="card-content">
						<div class="card-highlight">
							<p class="in-temp">
								<sub>34</sub><sup class="in-degC">&#8451;</sup>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h3>Outside</h3>
					<div class="card-content">
						<div class="card-highlight">
							<p class="in-temp">
								<sub>34</sub><sup class="in-degC">&#8451;</sup>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card-bottom">
				<p>Windows are open.</p>
				<button type="button" class="btn btn-default">Manage</button>
			</div>
		</div>



	</div>
</div>
<!-- internet weather update area -->
