<!-- filter out input pane -->

<div class="row">
	<div class="col-md-9">
		<div class="card card-blue">
			<p class="card-update-time">Filter your content...</p>
			<div class="card-content">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Start typing...">
					</textarea>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<!-- add new task -->
		<div class="card card-red">
			<p class="card-update-time">Add your custom task now.</p>
			<h3><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Task</h3>
		</div>
	</div>
</div>

<!-- other resources -->
<div class="card">
	<p class="card-update-time">Other devices</p>
	<div class="card-content">
		<table class="table">
			<thead>
				<tr>
					<th>Device</th>
					<th>Choice</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<p>Front Hall<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></p>
					</td>
					<td>
						<div class="toggle">
							<input type="checkbox" name="toggle" class="toggle-checkbox" id="device1" checked>
							<label class="toggle-label" for="device1"></label>
						</div>
					</td>
					<td>
						<p>Some comments here..<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>