<!DOCTYPE html>
<html lang="en">

<head>
	<!-- heads -->
	<% include ./partials/head %>
		<!-- handle google charts -->
		<!-- include ./partials/charts -->

		<!-- required angular functions -->
		<script src="/javascripts/console_app.js"></script>
		<script src="/javascripts/drawChart.js"></script>
		<script src="/javascripts/colorChartRef.js"></script>
</head>

<body ng-app="homeWork_console" ng-controller="console_controller">

	<div class="container-fluid main-content">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" style="font-family: 'Open Sans', sans-serif;" href="#"><strong>HomeWork</strong><span style="font-weight: 100; font-size: 120%;"> console</span></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Blog</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
					</form>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<!-- nav bar over -->
		<!-- body starts here.. -->
		<!-- device status -->
		<div class="row" style="margin-top: 15px;">
			<!-- content goes here -->
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<!-- pills -->
				<ul class="nav nav-pills green">
					<li class="active"><a data-toggle="pill" href="#overview" title="Overview">Overview</a></li>
					<li><a data-toggle="pill" href="#quick" title="Quick">Quick</a></li>
					<li><a data-toggle="pill" href="#doors" title="Doors and windows">Doors and windows</a></li>
					<li><a data-toggle="pill" href="#appliances" title="Appliances">Appliances</a></li>
					<li><a data-toggle="pill" href="#resources" title="Resources">Resources</a></li>
				</ul>
				<br>
				<!-- pill content -->
				<!-- Tab: overview -->
				<div class="tab-content">
					<!-- overview panel -->
					<div id="overview" class="tab-pane fade in active">
						<% include ./partials/overview_tabContent %>
					</div>
					<!-- overview -->
					<!-- quick pane -->
					<div id="quick" class="tab-pane fade">
						<% include ./partials/quick_tabContent %>
					</div>
					<!-- end-quick-pane -->
					<!-- doors pane -->
					<div id="doors" class="tab-pane fade">
						<div class="row">
							<div class="col-md-12">
								<% include ./partials/doors_tabContent %>
							</div>
						</div>
					</div>
					<div id="appliances" class="tab-pane fade">
						<!-- appliances pane -->
						<div class="row">
							<div class="col-md-12">
								<% include ./partials/appliances_tabContent %>
							</div>
						</div>
					</div>
					<div id="resources" class="tab-pane fade">
						<!-- resources pane -->
						<div class="row">
							<div class="col-md-12">
								<% include ./partials/resources_tabContent %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- right panel for notification, log, and number of users online -->
			<div class="col-md-3">
				<!-- notification -->
				<div class="noti-card row">
					<div class="col-md-2">
						<img class="img-responsive img-circle" src="/images/notification_icons/noisy.png" alt="noisy">
					</div>
					<div class="col-md-10">
						<h4>Noise</h4>
						<p class="pull-right noti-card-time">12:02 am</p>
						<p class="noti-card-content">Outside is too much noisy! - 112 dB</p>
					</div>
				</div>
				<div class="noti-card row">
					<div class="col-md-2">
						<img class="img-responsive img-circle" src="/images/notification_icons/noisy.png" alt="noisy">
					</div>
					<div class="col-md-10">
						<h4>Noise</h4>
						<p class="pull-right noti-card-time">12:02 am</p>
						<p class="noti-card-content">Outside is too much noisy! - 112 dB</p>
					</div>
				</div>
				<!-- recent log -->
				<div class="row card">
					<h3>Recent Log</h3>
					<ul>
						<li><span class="log-time">2:06 am</span>A/c turned off</li>
						<li><span class="log-time">2:06 am</span>Outdoor light turned off</li>
						<li><span class="log-time">2:06 am</span>Window 3 closed</li>
						<li><span class="log-time">2:06 am</span>Door 2 opened</li>
						<li><span class="log-time">2:06 am</span>Tank filled</li>
					</ul>
					<div class="card-bottom">
						<p>Card showing last 5 activities.</p>
						<button type="button" class="btn btn-default">History</button>
					</div>
				</div>
				<!-- number of users online -->
				<div class="card card-green row">
					<p class="card-update-time">Card showing number of users accessing your account simultaneously</p>
					<h3>Users online: 2</h3>
				</div>
			</div>
			<div class="col-md-1">md1</div>
		</div>
	</div>
	<% include ./partials/footer %>
</body>

</html>
