/* Color-Cards Librery */


/* ========================= 

	use with Bootstrap.
	example card
	============

	<div class="card card-blue">
		<p class="card-update-time">Updated 1 min ago</p>

		<div class="row">
			<div class="col-md-6">
				<h3>Water level</h3>
				<div id="chart_div3" class="overview-card-charts">Loading...</div>
			</div>
			<div class="col-md-6">
				<p style="font-size: 35px;">23 hours left</p>
				<p>statistics based on your average usage.</p>
			</div>
		</div>
		<div class="card-bottom">
			<p>Windows are open.</p>
			<button type="button" class="btn btn-default">Manage</button>
		</div>
	</div>

*/

.card {
	background-color: #FAFAFA;
	box-shadow: 2px 2px 7px #505050;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 15px 15px 15px 15px;
	transition: all ease-in-out .1s;
}

.card:hover {
	box-shadow: 2px 2px 25px #505050;
	transition: all ease-in-out .1s;
}

.card .card-update-time {
	font-size: 80%;
	display: inline-block;
	color: #989898;
}

.card h3 {
	font-size: 20px;
	margin-top: -5px;
	color: #FF6B6B;
}

.card .card-content .card-center {
	text-align: center;
}

.card .card-content .card-highlight {
	color: #47B1F4;
}

.card-bottom {
	text-align: right;
	margin-top: 2px;
}

.card-bottom p {
	display: inline-block;
	color: #535353;
}

.card-bottom button {
	display: inline-block;
	margin-left: 6px;
}

.card .form-control {
	letter-spacing: 2px;
}

.card .row {
	margin-bottom: 7px;
	margin-top: 7px;
}


/* ===toggle== */

.card .toggle {
	position: relative;
	width: 55px;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.card .toggle-checkbox {
	display: none;
}

.card .toggle-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	height: 15px;
	padding: 0;
	line-height: 20px;
	border: 0px solid #FFFFFF;
	border-radius: 30px;
	background-color: #E1E1E1;
	transition: all 0.3s ease-in;
}

.card .toggle-label:before {
	content: "";
	display: block;
	width: 30px;
	margin: -5px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 31px;
	border-radius: 30px;
	box-shadow: 3px 3px 10px 0px #757575;
	transition: all 0.3s ease-in;
}

.card .toggle-checkbox:checked + .toggle-label .toggle-inner {
	margin-left: 0;
}

.card .toggle-checkbox:checked + .toggle-label:before {
	background-color: #49B5FA;
	right: 0px;
	box-shadow: 3px 3px 10px 0px #757575;
}


/* ===toggle== */


/*-------blue-card--------*/

.card-blue {
	background-color: #49B5FA;
	color: #FFF;
}

.card-blue .card-update-time {
	color: #B9E4FF;
}

.card-blue h3 {
	color: white;
}

.card-blue .card-bottom p {
	color: #C5E9FF;
}

.card-blue .card-content .card-highlight {
	/* color:#F7FF60; */
	color: #FFF;
}

.card-blue .form-control {
	background-color: #49B5FA;
	color: #FFF;
	border-color: #87D1FF;
}

.card-blue ::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #87D1FF;
}

.card-blue:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #87D1FF;
	opacity: 1;
}

.card-blue::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #87D1FF;
	opacity: 1;
}

.card-blue:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #87D1FF;
}


/*------green-card-------*/

.card-green {
	background-color: #1CB689;
	color: #FFF;
}

.card-green .card-update-time {
	color: #39FFC6;
}

.card-green h3 {
	color: white;
}

.card-green .card-bottom p {
	color: #68FFD3;
}

.card-green .card-content .card-highlight {
	/* color:#F7FF60; */
	color: #FFF;
}


/*-----yellow-card-------*/

.card-yellow {
	background-color: #FFB74D;
	color: #FFF;
}

.card-yellow .card-update-time {
	color: #FFE2B6;
}

.card-yellow h3 {
	color: white;
}

.card-yellow .card-bottom p {
	color: #FFE3BA;
}

.card-yellow .card-content .card-highlight {
	/* color:#F7FF60; */
	color: #FFF;
}


/*-----red-card-------*/

.card-red {
	background-color: #FF4081;
	color: #FFF;
}

.card-red .card-update-time {
	color: #FFC6D9;
}

.card-red h3 {
	color: white;
}

.card-red .card-bottom p {
	color: #FFB1CB;
}

.card-red .card-content .card-highlight {
	/* color:#F7FF60; */
	color: #FFF;
}

.card .toggle-checkbox:checked + .toggle-label:before {
	background-color: #FFF200;
}

/* -------temperature and degree celcious ----------- */

.temp {
	margin-top: -60px;
	font-size: 700%;
}

.degC {
	font-size: 28%;
}


/* inside temp and degC */

.in-temp {
	margin-top: -40px;
	font-size: 500%;
}

.in-degC {
	font-size: 28%;
}


/* style for charts in overview cards */

.overview-card-charts {
	width: 125px;
	height: 125px;
}

.card-image {
	max-height: 70px;
	max-width: 100px;
	margin: 10px 5px 10px 5px;
}


/* ----------------------------- */


/* notification cards */

.noti-card {
	background-color: #FFF;
	box-shadow: 1px 1px 5px #505050;
	border-radius: 4px;
	margin-top: 4px;
	margin-bottom: 9px;
	transition: all ease-in-out .1s;
}

.noti-card:hover {
	box-shadow: 2px 2px 18px #505050;
	transition: all ease-in-out .1s;
}

.noti-card .col-md-2 {
	padding: 10px 1px 7px 9px;
}

.noti-card .col-md-10 {
	padding: 10px 9px 7px 5px;
}

.noti-card img {
	width: 40px;
	height: 40px;
}

.noti-card h4 {
	margin-top: 2px;
	display: inline-block;
}

.noti-card .noti-card-time {
	font-size: 10px;
	display: inline-block;
	color: #5E5E5E;
}

.noti-card .noti-card-content {
	color: #5E5E5E;
}


/* ============================================switch */
