.weatherDotCom{
	background-color:#1CB689;
	border-radius:8px;
	padding:8px;
	color:#FFF;
}
.update-time{
	font-size:80%;
	color:#B7FFEA;
}
.temp{
	margin-top:-60px;
	font-size:700%;
}
.degC{
	font-size:28%;
}
.feels{
	margin-top:-20px;
}
.w-location{
	text-align:right;
	margin-top: -25px;
}