.weatherDotCom{
	background-color:#1CB689;
	border-radius:8px;
	padding:8px;
	color:#FFF;
}
.update-time{
	font-size:80%;
	color:#B7FFEA;
}
.temp{
	margin-top:-60px;
	font-size:700%;
}
.degC{
	font-size:28%;
}
.feels{
	margin-top:-20px;
}
.w-location{
	text-align:right;
	margin-top: -25px;
}
.w-date{
	text-align:right;
	margin-top:-10px;
}
.w-img{
	width:100px;
	height:100px;
}
.logicalText{
	color:yellow;
}
.w-key{
	font-weight:700;
}
.w-value{
	font-weight:400;
}
.chance{
	font-size:15px;
}


.water-level{
	margin-top:9px;
	border:solid thin #1CB588;
	border-radius:8px;
	padding:10px;
}

.water-level h3{
	color:#1cb588;
}